h1{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;

}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    font-style: oblique;
}
