#box1{
    background-color: blue;
    height: 100px;
    width:100px;
    position: relative;
    top:100px;
    left: 100px;
}

#box2{
    background-color: aqua;
    height: 100px;
    width:100px;
    position: fixed;
    right:0px;
    top:0px;
    position: sticky;

}

#box3{
    background-color:orchid;
    height: 100px;
    width:100px;
    position: absolute;
    top:50px;
    position:static;
}

