*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color: brown;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: burlywood;
    height:50px;
}

aside{
    width:30%;
    float: left;
    padding: 10px;
}

section{
    width:30%;
    float: left;
    padding: 10px;
}

article{
    width:40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: rgb(96, 120, 112);
    text-align: center;
    padding: 25px;
}

/*for mobiles-- desktop version to mobile version*/
@media screen and (max-width:600px) {
    aside,section,article{
        width: 100%;
    }    
}